<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تماس با ما | تلگرام فمیلی</title>
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/icon.css">
    <link rel="stylesheet" href="css/alert.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/grid.css?v=0.0.1">
    <link rel="stylesheet" href="css/style.css?v=0.0.2">

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "تماس با تلگرام فمیلی",
            "url": "https://telegrafamily.vip/contact-us",
            "description": "ارتباط با ما آسان است! در تلگرام فمیلی، همواره آماده‌ایم تا به سوالات شما پاسخ دهیم و نیازهای شما را برطرف کنیم. شما می‌توانید از طریق فرم تماس، ایمیل یا تلفن با ما در ارتباط باشید و از خدمات و پشتیبانی ما بهره‌مند شوید.",
            "contactPoint": {
                "@type": "ContactPoint",
                "telephone": "+98-21-91095182",
                "contactType": "Customer support",
                "areaServed": "IR",
                "availableLanguage": "fa"
            },
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "Armitage Tower, Haft Tir Boulevard",
                "addressLocality": "Mashhad",
                "postalCode": "91775",
                "addressCountry": "Iran"
            },
            "founder": { "@type": "Person", "name": "تلگرام فمیلی" }
        }
        </script>

</head>
<body>
    
    <div class="main">
        <!-- منو -->
        <div class="fix-menu"></div>
        <div class="top-menu">
            <div class="center">
                <div class="menu-container">
                    <div class="d-flex align-center">

                        <div class="open-menu ml-15">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>

                        <a href="/" class="logo" aria-label=""><img src="images/logo.svg" width="" height="" alt=""></a>
                    </div>
                    
                    <div class="menu toggle-slide-box">

                        <ul>
                            <li><a href="/">تلگرام پرمیوم</a></li>
                            <li><a href="/">تلگرام بزینس</a></li>
                            <li><a href="/">استارز تلگرام</a></li>
                            <li><a href="/">بلاگ</a></li>
                            <li><a href="/">تماس با ما</a></li>
                            <li class="sub">
                                <span class="toggle-slide">سایر <i class="icon-arrow-down-1 font-size-1"></i></span>
                                <div class="submenu slide-down">
                                    <ul>
                                        <li><a href="/">زیر منو</a></li>
                                        <li><a href="/">زیر منو</a></li>
                                        <li><a href="/">زیر منو</a></li>
                                        <li><a href="/">زیر منو</a></li>
                                        <li><a href="/">زیر منو</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="">
                        <a href="/" class="btn-menu border color-text"><i class="icon-login-3"></i> <span>ورود / ثبت نام</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="section pd-t-40">
            <div class="center">
                <div class="text-center">
                    <h1 class="title-size-3">تماس با تلگرام فمیلی</h1>
                    <p class="max-w600 m-auto font-size-1-2">
                        پیام شما می‌تواند شروع یک گفتگوی سازنده باشد. ما همیشه آماده‌ایم تا به سوالات و نیازهای شما پاسخ دهیم. ارتباط با ما به شما این فرصت را می‌دهد تا اطلاعات بیشتری درباره محصولات و خدمات ما کسب کنید و ایده‌های خود را با ما به اشتراک بگذارید.
                    </p>
                </div>

                <div class="max-w600 m-auto ">

                    <div class="d-flex-wrap fix-mr10 text-center">
                        <div class="pd-20 border radius-20 m-10 basis200 grow-1 gr-purple">
                            <i class="icon-call-calling font-size-3"></i>
                            <h3>تلفن تماس</h3>
                            <a href="tel:021 910 95182" dir="ltr" class="color-text">021 910 95182</a>
                        </div>
    
                        <div class="pd-20 border radius-20 m-10 basis200 grow-1 gr-purple">
                            <i class="icon-map-2 font-size-3"></i>
                            <h3>آدرس</h3>
                            <p> خراسان رضوی ، عبادی 104 ، ایثارگران 19/7</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="section pd-td-40">
            <div class="center">
                <div class="max-w600 m-auto">
                    <form action="">
                        <div class="list-input fix-mr5">
                            <div class="input-item">
                                <div class="input-text border">
                                    <div class="icon border-left"><i class="icon-user-1"></i></div>
                                    <input type="text" name="" class="input-check" placeholder="نام شما" required>
                                </div>
                            </div>
                            <div class="input-item">
                                <div class="input-text border">
                                    <div class="icon border-left"><i class="icon-sms-1"></i></div>
                                    <input type="text" name="mobile" class="input-check" placeholder="شماره تماس" required>
                                </div>
                            </div>
                        </div>

                        <div class="list-input fix-mr5">
                            <div class="input-item">
                                <div class="input-text border">
                                    <div class="icon border-left"><i class="icon-user-1"></i></div>
                                    <input type="text" name="" class="input-check" placeholder="موضوع پیام" required>
                                </div>
                            </div>
                        </div>
    
                        <div class="fix-mr5">
                            <div class="input-item">
                                <div class="border radius-10">
                                    <textarea name="" placeholder="متن پیام" class="input-check" required></textarea>
                                </div>
                            </div>
                        </div>
    
                        <div class="fix-mr5 d-flex just-end">
                            <button class="btn border submit-btn" type="button">ارسال دیدگاه <i class="mr-10 icon-send-3 horizon-x"></i></button>
                        </div>
    
                    </form>
                </div>
            </div>
        </div>

        <!-- رسانه ها -->
        <div class="section pd-d-40">
            <div class="center">
                <div class="mr-20">
                    <h2>
                        ما در رسانه های معتبر کشور
                    </h2>
                </div>
                <div class="d-flex scrollhide just-safe align-center fix-mr10">
                    <a href="/" class="brand-item"><img src="images/brand/aparat.svg" alt=""></a>
                    <a href="/" class="brand-item"><img src="images/brand/digiato.svg" alt=""></a>
                    <a href="/" class="brand-item"><img src="images/brand/zoomg.svg" alt=""></a>
                    <a href="/" class="brand-item"><img src="images/brand/zoomit.svg" alt=""></a>
                </div>
            </div>
        </div>

        <!-- footer -->
        <div class="section">
            <div class="center">
                <div class="footer pd-30 white">

                    <div class="mb-20">
                        <div class="">
                            <div class="mb-20">
                                <a href="/" class="logo max-w120"><img src="images/logo.svg" alt=""></a>
                            </div>
                            <p class="text-justify grow-1 basis400 font-size-1-2">
                                خرید اشتراک تلگرام پرمیوم به صورت فوری و بدون نیاز به ورود به حساب کاربری از طریق وبسایت ما بسیار ساده و راحت انجام می‌شود. با استفاده از این روش، شما می‌توانید در کمتر از ۵ دقیقه اشتراک خود را خریداری کنید. فعال‌سازی اشتراک تلگرام پرمیوم معمولاً در بازه زمانی ۱ الی ۱۵ دقیقه پس از خرید انجام می‌شود و شما می‌توانید به سرعت از امکانات ویژه تلگرام پرمیوم استفاده کنید. با خرید از وبسایت ما، از یک تجربه خرید راحت و بدون دردسر لذت ببرید و بلافاصله پس از خرید، به تمامی ویژگی‌های منحصر به فرد تلگرام پرمیوم دسترسی پیدا کنید.
                            </p>
                        </div>
                    </div>

                    <div class="mt-20 d-flex-wrap pd-t-40 white fix-mr10 border-t">

                        <div class="footer-item basis150 grow-1">
                            <h3>دسترسی سریع</h3>
                            <div class="ft-list mt-10">
                                <ul>
                                    <li><a href="/">درباره ما</a></li>
                                    <li><a href="/">تماس با ما</a></li>
                                    <li><a href="/">قوانین و مقررات</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="footer-item basis150 grow-1">
                            <h3>محصولات</h3>
                            <div class="ft-list mt-10">
                                <ul>
                                    <li><a href="/">تلگرام پرمیوم</a></li>
                                    <li><a href="/">تلگرام بیزینس</a></li>
                                    <li><a href="/">بوست کانال</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="footer-item basis150 grow-1">
                            <h3>سایر سرویس ها</h3>
                            <div class="ft-list mt-10">
                                <ul>
                                    <li><a href="/">اشتراک های هوش مصنوعی</a></li>
                                    <li><a href="/">خرید ارز دیجیتال</a></li>
                                    <li><a href="/">خدمات پرداخت بین المللی</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="footer-item basis150 grow-1">
                            <h3>نماد اعتماد</h3>
                            <div class="radius-10 pd-20 mt-10 d-flex align-center max-w100 border" style="min-height: 120px; min-width: 120px">
                                <a target="_blank" href="/" aria-label="نماد اعتماد">
                                    <img src="images/namad.svg" alt="نماد اعتماد"  width="125" height="136">
                                </a>
                            </div>
                        </div>

                        <div class="footer-item basis200 grow-4">
                            <div class="title">
                                <h2>راه های ارتباطی با ما</h2>
                                <span class="color-bright">از طریق تلگرام و یا برقراری تماس می‌توانید با تیم پشتیبانی ما در ارتباط باشید.</span>
                            </div>
                            <div class="d-flex-wrap align-center just-around text-center fix-mr5">

                                <a href="https://t.me/PremiumTelegram_vip" class="btn border white m-5 ">
                                    <i class="icon-telegram-bold ml-5"></i> پشتیبانی تلگرام
                                </a>

                                <a href="tel:02191095182" class="white m-5 grow-1" >
                                    <div class="font-size-2" dir="ltr">021 <span class="gr-text font-size-1-2">910 </span>95182</div>
                                    <div class="">همه روزه از ساعت ۸ صبح تا ۸ شب</div>
                                </a>
                                
                            </div>
                        </div>
                        
                        
                    </div>

                </div>

                <div class="d-flex-wrap align-center just-around">
                    <div class="grow-1 pd-10">
                        <p>تمامی حقوق مادی  و معنوی محفوظ است</p>
                    </div>
                    <div class="d-flex-wrap m-10 fix-mr5">
                        <a href="/" aria-label="facebook page" rel="nofollow" class="d-block height-40 width-40 min-w40 bg-light-blue radius-100 text-center line44 m-5 color-text"><i class="icon-facebook"></i></a>
                        <a href="/" aria-label="twiiter page" rel="nofollow" class="d-block height-40 width-40 min-w40 bg-light-blue radius-100 text-center line44 m-5 color-text"><i class="icon-twitter-x"></i></a>
                        <a href="/" aria-label="instagram pages" class="d-block height-40 width-40 min-w40 bg-light-blue radius-100 text-center line44 m-5 color-text"><i class="icon-instagram-1"></i></a>
                        <a href="/" aria-label="telegram page" rel="nofollow" class="d-block height-40 width-40 min-w40 bg-light-blue radius-100 text-center line44 m-5 color-text"><i class="icon-telegram"></i></a>
                        <a href="/" aria-label="youtube page" rel="nofollow" class="d-block height-40 width-40 min-w40 bg-light-blue radius-100 text-center line44 m-5 color-text"><i class="icon-youtube-1"></i></a>
                        <a href="/" aria-label="aparat page" rel="nofollow" class="d-block height-40 width-40 min-w40 bg-light-blue radius-100 text-center line44 m-5 color-text"><i class="icon-aparat-bold"></i></a>
                        </div>
                </div>

            </div>
        </div>

    </div>

    <script src="js/jquery-3.7.1.js"></script>
    <script src="js/cute-alert.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/site.js"></script>

</body>
</html>