/* A simple placeholder for admin CSS */
body {
    font: 13px/28px Estedad, ficon, Tahoma, Arial, sans-serif;
    background-color: #f1f5f9;
}

/* Add any other basic styles needed for layout integrity */
