/* Estedad */
@font-face {
    font-family: Estedad;
    src: url('../fonts/estedad/Estedad-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Estedad;
    src: url('../fonts/estedad/Estedad-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Estedad;
    src: url('../fonts/estedad/Estedad-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Estedad;
    src: url('../fonts/estedad/Estedad-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Estedad;
    src: url('../fonts/estedad/Estedad-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.font-estedad {
    font: 13px/28px Estedad, ficon, Tahoma, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
}