@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/yakanbakh/YekanBakh-ExtraBold.woff') format('woff');
    font-weight:800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/yakanbakh/YekanBakh-ExtraBlack.woff') format('woff');
    font-weight:850;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/yakanbakh/YekanBakh-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/yakanbakh/YekanBakh-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/yakanbakh/YekanBakh-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* payda css */

@font-face {
    font-family: 'Peyda';
    src: url('../fonts/peyda/PeydaWeb-Black.woff') format('woff');
    font-weight:850;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Peyda';
    src: url('../fonts/peyda/PeydaWeb-ExtraBold.woff') format('woff');
    font-weight:800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Peyda';
    src: url('../fonts/peyda/PeydaWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Peyda';
    src: url('../fonts/peyda/PeydaWeb-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Peyda';
    src: url('../fonts/peyda/PeydaWeb-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Peyda';
    src: url('../fonts/peyda/PeydaWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Peyda';
    src: url('../fonts/peyda/peydaWeb-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Peyda';
    src: url('../fonts/peyda/peydaWeb-extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Peyda';
    src: url('../fonts/peyda/PeydaWeb-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}